<nav class="navbar navbar-expand">
  <a class="sidebar-toggle" (click)="toogleSidebar();">
    <i class="fa-solid fa-bars-staggered"></i>
  </a>

  <form class="d-none d-sm-inline-block">
    <div class="input-group input-group-navbar">
      <input type="text" class="form-control" placeholder="Search…" aria-label="Search">
      <button class="btn" type="button">
        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search align-middle"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg> -->
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
  </form>

  <div class="navbar-collapse collapse">
    <ul class="navbar-nav navbar-align header-rg-menu">
      <li class="nav-item dropdown noti-box">
        <header-notification></header-notification>
      </li>
      <li class="nav-item dropdown msg-box">
        <header-msg-box></header-msg-box>
      </li>
      <li class="nav-item">
        <a class="nav-icon d-none d-lg-block" href="javascript:void(0);">
          <div class="position-relative">
            <i class="fa-solid fa-expand"></i>
          </div>
        </a>
      </li>
      <li class="nav-item dropdown user-box">
        <header-userbox></header-userbox>
      </li>
    </ul>
  </div>
</nav>