.sidebar {
  left: -100%;
  opacity: 0;
  background: #222e3c;
  direction: ltr;
  transition: all 0.35s ease;
  -webkit-transition: all 0.35s ease;

  .sidebar-content {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100vh;

    .sidebar-brand {
      color: #f8f9fa;
      display: flex;
      font-size: 1.15rem;
      font-weight: 600;
      padding: 1.15rem;
      border-bottom: 1px solid #0c3477;
      align-items: center;
      text-decoration: none;

      img {
        width: 26px;
        height: 26px;
        margin-right: 10px;
      }
    }

    .sidebar-user {
      padding: 0.75rem 1.5rem;
      color: #fff;
      box-shadow: -0.5rem 0.3rem 1rem 0 #0c3477;

      a {
        outline: 0;
        text-decoration: none;
        color: #fff;
      }

      .sidebar-user-subtitle {
        color: #adb5bd;
      }

      .dropdown-toggle:after {
        border: solid;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 2px;
        transform: rotate(45deg);
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
      }

      .dropdown-toggle.menu-open::after {
        transform: rotate(-135deg);
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
      }

      .dropdown-menu {
        display: none;
        position: absolute;
        inset: 0px auto auto 0px;
        margin: 0px;
        transform: translate(20px, 20px);
        right: 0;

        &.menu-open {
          display: block;
        }

        .dropdown-item {
          color: #212529;

          i {
            margin-right: 10px;
          }
        }
      }
    }

    .sidebar-nav {
      flex-grow: 1;
      list-style: none;
      margin-bottom: 0;
      padding-left: 0;
      margin-top: 0.5rem;

      li.sidebar-header:not(:first-child) {
        border-top: 1px solid #0c3477;
      }

      .sidebar-header {
        background: transparent;
        color: #fff;
        // color: rgba(255, 255, 255, 0.35);
        font-size: 0.9rem;
        text-transform: uppercase;
        padding: 1rem;
        height: initial;
        white-space: nowrap;
        border-bottom: 1px solid #0c3477;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }

      .sidebar-item {
        .sidebar-link.active {
          background: linear-gradient(90deg, rgba(59, 125, 221, .1), rgba(59, 125, 221, .088) 50%, transparent);
          border-left-color: #3b7ddd;
          color: #e9ecef;
        }

        .sidebar-link,
        a.sidebar-link {
          background: #222e3c;
          border-left: 3px solid transparent;
          color: rgba(233, 236, 239, 0.5);
          cursor: pointer;
          display: block;
          font-weight: 400;
          padding: 0.625rem 1.625rem;
          position: relative;
          text-decoration: none;

          &.sidebar-dropdown-btn {
            &::after {
              content: "";
              border: solid;
              border-width: 0 0.075rem 0.075rem 0;
              content: " ";
              display: inline-block;
              padding: 2px;
              position: absolute;
              right: 1.5rem;
              top: 1.2rem;
              transform: rotate(45deg);
              -webkit-transition: all 0.5s ease;
              transition: all 0.5s ease;
            }

            &.expanded::after {
              transform: rotate(-135deg);
              -webkit-transition: all 0.5s ease;
              transition: all 0.5s ease;
            }
          }

          i {
            margin-right: 0.75rem;
          }
        }

        .sidebar-link {
          &:hover {
            color: #e9ecef;
            background: linear-gradient(90deg, rgba(59, 125, 221, .1), rgba(59, 125, 221, .088) 50%, transparent);
          }
        }

        .sidebar-dropdown {
          .sidebar-link {
            background: transparent;
            border-left: 0;
            color: #adb5bd;
            font-size: 90%;
            font-weight: 400;
            padding: 0.625rem 1.5rem 0.625rem 3.25rem;

            &::before {
              content: "→";
              display: inline-block;
              left: -14px;
              position: relative;
              transform: translateX(0);
              -webkit-transition: all 0.5s ease;
              transition: all 0.5s ease;
            }

            &:hover {
              background: transparent;
              border-left: 0;
              color: #e9ecef;
              font-weight: 400;

              &::before {
                transform: translateX(4px);
              }
            }
          }
        }
      }
    }
  }
}