<section class="auth-layout background-radial-gradient vh-100 overflow-hidden d-flex align-items-center">
  <div class="container px-4 py-4 px-md-4 text-center text-lg-start my-4">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
          The best offer <br />
          <span style="color: hsl(218, 81%, 75%)">for your business</span>
        </h1>
        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Temporibus, expedita iusto veniam atque, magni tempora mollitia
          dolorum consequatur nulla, neque debitis eos reprehenderit quasi
          ab ipsum nisi dolorem modi. Quos?
        </p>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div class="radius-shape-1 position-absolute rounded-circle shadow-5-strong"></div>
        <div class="radius-shape-2 position-absolute shadow-5-strong"></div>

        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>